@model Vidly2.ViewModels.CustomerMembershipTypeViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>New Customer</h2>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Save", "Customers", new { imgid = @Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.customers.Name)
            @Html.TextBoxFor(m => m.customers.Name, new { @class = "form-control" })
            @Html.HiddenFor(m => m.customers.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.customers.BirthDate)
            @Html.TextBoxFor(m => m.customers.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.HiddenFor(m => m.customers.BirthDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.customers.MembershipTypeId)
            @Html.DropDownListFor(m => m.customers.MembershipTypeId, new SelectList(Model.membershiptypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
            @Html.HiddenFor(m => m.customers.MembershipType)
        </div>
            @*<div class="form-group">
                    @Html.LabelFor(m => m.IsSubscribedToNewsletter)
                    @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-control" })
                </div>*@
            @*<div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>*@

        //check bok is different from others because its Input tag is in the Label tag. (others followed the tag)
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.customers.IsSubscribedToNewsletter) Subscribed to Newsletter?
                @Html.HiddenFor(m => m.customers.IsSubscribedToNewsletter)
            </label>
        </div>
            @Html.HiddenFor(m =>m.customers.Id)
            <button type="submit" class="btn btn-primary">Save</button>

    }
</div>